body {
	margin: 0px;
	color: white;
	font-family: sans-serif;
}

nav ul{
	display: flex;
	margin: 0px;
	background: #f9f9f9ff;
	align-items: center;
	color: black;	
	height: 90px;
}

nav ul li.logo {
	padding-left: 150px;
}

nav ul li.logoimg {
	padding-bottom: 10px;
}

nav ul li.logotxt {
	padding-left: 7px;
	font-size: 26px;
}

header {
	max-width:100%;
	min-width:100%;
}

ul {
	list-style: none;
}

.image {
	max-width:100%;
	height:auto;
}
