body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: black;
	/*font-family: 'Fira Sans', sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	overflow-x: hidden; /* Strunta i att scrolla åt sidan */
}

td {
	text-align: center; 
    	padding-inline: 8px 19px;
}

table {
	border-collapse: separate;
    	text-indent: initial;
    	border-spacing: 2p
}

a {
	color: black;
}

a:hover:not(.logo) {
	transition: transform .2s;
	color: #D38871;
}


button {
	outline: none;
	border-width: 0;
}

button:hover {
	transition: .2s;
	opacity: 0.8;
}

#topnav {
	display: flex;
	background: #f9f9f9ff;
	align-items: center;
	justify-content: center;
	color: black;	
	height: 94px;
}

.menu {
	padding-left: 37px;
	cursor: pointer;
	/*padding-top: 20px;*/

}

.menu:hover {
	transition: transform .2s;
	transform: scale(1.05); /* Resize */
}

.sidenav {
	background-color: white;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.250s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	font-size: 25px;
	display: block;
	transition: 0.3s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	text-decoration: none; /* inget understryck på x:et */
}

/*.sidenav a:hover {*/
	/*transition: transform .2s;*/
	/*color: #D38871;*/
/*}*/

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 120px; /* Om det är padding så blir paddingen en del av linken */
	text-decoration: none;
}

.logo:hover {
	transition: transform .2s;
	transform: scale(1.05); /* Resize */
}

.logoimg {
	padding-bottom: 10px;
}

.logotext {
	font-size: 25px;
	padding-left: 8px;
}

.shopcart {
	margin-left: auto;
	cursor: pointer;
}

.shopcart .counter {
	color: white;
	margin-top: 20px;
	background-color: #D38871;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	float: left;
	top: -30px;
	left: 57px;
	width: 27px;
	height: 27px;
	font-size: 16px;
	text-align: center;
}

.shopcart:hover {
	transition: transform .2s;
	transform: scale(1.05); 
}

.searchbar {
	opacity: 0.8;
	display: flex;
	background-color: #b3b3b3ff;
	color: white;
	border-radius: 20px;
	padding-inline: 20px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 43px;
	margin-top: 30px;
	/*centrera*/
}

#searchinput {
	font-size: 17px;
	color: black;
	opacity: 1.0;
	background: none;
	border-width: 0;
	outline: none;
}

::placeholder {
	color: #123;
}

.searchbar .magnifying {
	opacity:  1.0;
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	margin-left: auto;
	/*margin-left: 150px;*/
	margin-left: 220px;
}

.searchbar p {
	/*color: #b3b3b3ff;*/
	color: black;
}

#page-header{
    background-image: url("images/landscape.jpg");
    /*background-image: url("images/river.JPG");*/
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 37px;
    flex-direction: column;
}

#page-header .header-text {
	/*margin-bottom: 340px;*/
	margin-bottom: 31vh;
}

#page-header .largetext {
	color: white;
	font-size: 40px;
}

/*#page-header .buttontext {*/
	/*font-size: 22px;*/
	/*color: white;*/
/*}*/

#page-header button {
	background-color: #D38871;
	cursor: pointer;
	border-radius: 12px;
	height: 50px;
	padding-inline: 14px;
	margin-top: 20px;
	font-size: 22px;
	color: white;
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
}

.std-margin {
	margin: 80px;
}

.underline-caption {
	font-size: 38px;
	word-wrap:none;
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-color: #D38871;
}

.popular-products p, strong {
	font-size: 20px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	/*margin-top: 60px;*/
}

.product {
	padding: 30px;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #D38871;
	width: 28vh;
	margin-inline: 120px;
	margin-top: 50px;
	background-color: #f9f9f9ff;
}

.product button {
	background-color: #D38871;
	font-size: 22px;
	color: white;
	border: none;
	border-radius: 12px;
	height: 50px;
	cursor: pointer;
	padding-inline: 12px;
	display: flex;
	margin-left: auto;
	align-items: center;
	border-width: 0;
}

.product button:active {
	transition: transform .1s cubic-bezier(0.4, 0, 0.2 ,1);
	transform: scale(0.85);
}

.product img {
	object-fit: cover;
	object-position: bottom;
	max-width: 100%; 
	/*max-height: 22vh;*/
	height: 27vh;
	width: 100%;
	border-style: solid;
	border-radius: 15px;
	border-width: 0;
}

.product a {
	color: white;
	text-decoration: none;
}

.product:hover {
	transition: transform .2s;
	transform: scale(1.05); /* Resize */
}

.product .price {
	color: #D38871;
	font-weight: bold;
	font-size: 22px;
}

.std-button {
	background-color: #D38871;
	font-size: 22px;
	color: white;
	border: none;
	border-radius: 12px;
	height: 50px;
	cursor: pointer;
	padding-inline: 12px;
}

#page-footer {
	height: 0;
}

#page-footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vh;
	margin-bottom: 1vh;
}

#page-footer-content ul li {
	font-size: 22px;
	display: inline-block;
	list-style-type: none;
	margin-left: 30px; /* Ökar mellanrummet mellan varje individuell länk */
}

/*#page-footer-content ul li a:hover {*/
	/*transition: transform .2s;*/
	/*[>transform: scale(1.1);<]*/
	/*color: #D38871;*/
/*}*/

#page-footer-content .line-break {
	  width: 100%;
}

.bgimage-caption {
	font-size: 60px;
	margin-bottom: 40px;
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-color: #D38871;
	color: white;
	/*font-weight: bold;*/
	height: 100px;
	border-radius: 18px;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding-inline: 50px;
	height: 88px;
}

#std-backgroundimage {
	background-size: cover;
	background-position: bottom;
    	background-attachment: fixed;
	height: 60vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

/* About */

.question-text {
	font-size: 25px;
	color: #D38871;
	font-style: italic;
}

.paragraph { /* Longer text, only in about */
	width: 60vh;
	word-wrap: break-word;
}

/* Contact */

.contact-bold {
	font-size: 22px;
	font-weight: bold;
}

/* cart */
.cart-content {
	padding: 30px;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #D38871;
	background-color: #f9f9f9ff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
