body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: black;
	/*font-family: 'Fira Sans', sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	overflow-x: hidden; /* Strunta i att scrolla åt sidan */
}

td {
	text-align: center; 
    	padding-inline: 8px 19px;
}

table {
	border-collapse: separate;
	text-indent: initial;
	border-spacing: 2p;
}

a {
	color: black;
}

a:hover:not(.logo) {
	transition: transform .2s;
	color: #D38871;
}


button {
	background-color: #D38871;
	border: none;
	border-radius: 12px;
	border-width: 0;
	color: white;
	font-size: 22px;
	outline: none;
	cursor: pointer;
	padding-inline: 12px;
}

button:hover {
	transition: .2s;
	opacity: 0.8;
}

#topnav {
	display: flex;
	background: #f9f9f9ff;
	align-items: center;
	color: black;	
	height: 94px;
}

.menu {
	margin-left: 37px;
	cursor: pointer;
}

.menu:hover {
	transition: transform .2s;
	transform: scale(1.05); /* Resize */
}

.sidenav {
	background-color: white;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	font-size: 25px;
	display: block;
	transition: 0.3s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	text-decoration: none; /* inget understryck på x:et */
}

.logo {
	display: flex;
	text-decoration: none;
	margin-left: 100px;
	/*margin-left: auto;*/
	/*margin-left: auto;*/
}

.logo:hover {
	transition: transform .2s;
	transform: scale(1.05); /* Resize */
}

.logoimg {
	padding-bottom: 10px;
	width: 60px;
}

.logotext {
	font-size: 25px;
	padding-left: 8px;
}

.shopcart {
	margin-left: auto;
	cursor: pointer;
}

.shopcart .counter {
	color: white;
	margin-top: 20px;
	background-color: #D38871;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	float: left;
	top: -30px;
	left: 57px;
	width: 27px;
	height: 27px;
	font-size: 16px;
	text-align: center;
}

.shopcart:hover {
	transition: transform .2s;
	transform: scale(1.05); 
}

.searchbar {
	opacity: 0.8;
	display: flex;
	background-color: #b3b3b3ff;
	color: white;
	border-radius: 20px;
	padding-inline: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 43px;
	margin-top: 30px;
	/*centrera*/
}

#searchinput {
	font-size: 17px;
	color: black;
	opacity: 1.0;
	background: none;
	border-width: 0;
	outline: none;
}

::placeholder {
	color: #123;
}

.searchbar .magnifying {
	opacity:  1.0;
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	margin-left: auto;
	/*margin-left: 150px;*/
	/*margin-left: 220px;*/
}

.searchbar p {
	/*color: #b3b3b3ff;*/
	color: black;
}

#page-header{
    background-image: url("images/landscape.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 37px;
    flex-direction: column;
}

#page-header .header-content {
	margin-bottom: 31vh;
}

#page-header .largetext {
	color: white;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	word-wrap: wrap;
	width: 40vw;
}

#page-header button {
	height: 50px;
	margin-top: 20px;
}

.std-margin {
	margin: 60px;
}

.underline-caption {
	font-size: 38px;
	word-wrap:none;
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-color: #D38871;
}

.smaller-underline-caption {
	font-size: 34px;
	word-wrap:none;
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-color: #D38871;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product {
	padding: 30px;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #D38871;
	width: 28vh;
	margin-inline: 60px;
	margin-top: 50px;
	background-color: #f9f9f9ff;
}

.product button {
	height: 50px;
	display: flex;
	margin-left: auto;
	align-items: center;
	border-width: 0;
}

.product button:active {
	transition: transform .1s cubic-bezier(0.4, 0, 0.2 ,1);
	transform: scale(0.85);
}

.product img {
	object-fit: cover;
	object-position: bottom;
	max-width: 100%; 
	margin-left: auto;
	margin-right: auto;
	/*max-height: 22vh;*/
	height: 27vh;
	/*width: 100%;*/
	border-style: solid;
	border-radius: 15px;
	border-width: 0;
	display: flex;
	justify-content: center;
}

.product a {
	color: white;
	text-decoration: none;
}

.product:hover {
	transition: transform .2s;
	transform: scale(1.05); /* Resize */
}

.product .price {
	color: #D38871;
	font-weight: bold;
	font-size: 22px;
}

.std-button {
	background-color: #D38871;
	font-size: 22px;
	color: white;
	border: none;
	border-radius: 12px;
	height: 50px;
	cursor: pointer;
	padding-inline: 12px;
}

#page-footer {
	height: 0;
}

#page-footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 3vh;
	margin-bottom: 1vh;
}

#page-footer-content ul li {
	display: inline-block;
	font-size: 22px;
	list-style-type: none;
	margin-left: 30px; /* Ökar mellanrummet mellan varje individuell länk */
}

#page-footer-content .line-break {
	  width: 100%;
}

.bgimage-caption {
	font-size: 60px;
	margin-bottom: 40px;
	text-decoration: underline;
	text-underline-offset: 12px;
	text-decoration-color: #D38871;
	color: white;
	font-weight: bold;
}

#std-backgroundimage {
	background-size: cover;
	background-position: bottom;
    	background-attachment: fixed;
	height: 60vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

/* About */

.question-text {
	font-size: 25px;
	color: #D38871;
	font-style: italic;
}

.paragraph { /* Longer text, only in about */
	width: 70vh;
	word-wrap: break-word;
}

/* Contact */

.contact-bold {
	font-size: 22px;
	font-weight: bold;
}

/* cart */
.cart-content {
	padding: 30px;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #D38871;
	background-color: #f9f9f9ff;
}

@media screen and (max-width: 1000px) {
	.product {
		margin-inline: 20px;
	}

	#page-header .largetext {
		width: 100vh;
	}

	td {
		padding-inline: 5px;
	}

	.cart-content {
		padding-left: 2px;
		padding-right: 2px;
		font-size: 17px;
	}
}

@media screen and (max-width: 790px) {
	.searchbar {
		height: 37px;
		width: 90%;
	}

	.product {
		width: 20vh;
		margin-inline: 10px;
		margin-top: 35px;
		padding: 15px;
		margin-top: 35px;
	}

	.product img {
		height: 20vh;
		max-width: 95%;
	}

	.std-margin {
		margin: 35px;
	}
	.underline-caption {
		font-size: 34px
	}

	.smaller-underline-caption {
		font-size: 30px
	}

	.bgimage-caption {
		font-size: 50px
	}

	#page-header .header-content {
		margin-bottom: 22vh;
	}

	#page-header .largetext {
		font-size: 35px;
		width: 65vw;
	}

	#page-header {
    		height: 85vh;
	}

	#std-backgroundimage {
		height: 55vh
	}

	.sidenav {
		padding-top: 45px;
	}

	button {
		font-size: 20px; padding-inline: 10px;
	}

	.sidenav a {
		font-size: 20px;
	}

	td {
		padding-inline: 3px;
	}

	.cart-content {
		padding-left: 2px;
		padding-right: 2px;
		font-size: 16px;
	}
}

@media screen and (max-width: 500px) {
	.sidenav {
		padding-top: 25px;
	}

	.sidenav a {
		font-size: 18px;
	}

	.question-text {
		font-size: 18px;
	}
	#topnav {
		height: 80px;
	}

	#page-header {
    		height: 75vh;
	}

	#page-header .header-content {
		margin-bottom: 15vh;
	}
	
	#page-header .largetext {
		font-size: 30px;
		width: 55vh;
	}

	.logotext {
		font-size: 23px;
	}

	button {
		font-size: 19px; padding-inline: 10px;
	}

	.std-button {
		font-size: 19px; 
		padding-inline: 10px;
		height: 40px;
	}

	body {
		font-size: 17px;
	}

	.std-margin {
		margin: 15px;
	}

	.product {
		width: 19vh;
		margin-inline: 10px;
		padding: 10px;
		margin-top: 30px;
	}

	.product img {
		height: 20vh;
		max-width: 90%;
	}

	.product button {
		height: 45px;
	}

	.underline-caption {
		font-size: 32px
	}

	.smaller-underline-caption {
		font-size: 28px
	}

	.searchbar {
		height: 35px;
		width: 90%;
	}

	.bgimage-caption {
		font-size: 45px
	}
	
	#std-backgroundimage {
		height: 40vh
	}

	.logoimg {
		width: 55px
	}

	td {
		padding-inline: 3px;
	}

	.cart-content {
		padding-left: 2px;
		padding-right: 2px;
		font-size: 15px;
	}

	#page-footer-content {}
	/* #topnav {} Ska vara mindre height */
}

@media screen and (max-width: 450px) {
	.sidenav {
		padding-top: 25px;
	}

	.sidenav a {
		font-size: 18px;
	}

	.question-text {
		font-size: 18px;
	}
	#topnav {
		height: 80px;
	}

	#page-header {
    		height: 75vh;
	}

	#page-header .header-content {
		margin-bottom: 15vh;
	}
	
	#page-header .largetext {
		font-size: 30px;
		width: 55vh;
	}

	.logotext {
		font-size: 23px;
	}

	button {
		font-size: 19px; padding-inline: 10px;
	}

	.std-button {
		font-size: 19px; 
		padding-inline: 10px;
		height: 40px;
	}

	body {
		font-size: 17px;
	}

	.std-margin {
		margin: 15px;
	}

	.product {
		width: 19vh;
		margin-inline: 10px;
		padding: 10px;
		margin-top: 30px;
	}

	.product img {
		height: 20vh;
		max-width: 90%;
	}

	.product button {
		height: 45px;
	}

	.underline-caption {
		font-size: 32px
	}

	.smaller-underline-caption {
		font-size: 28px
	}

	.searchbar {
		height: 35px;
		width: 90%;
	}

	.bgimage-caption {
		font-size: 45px
	}
	
	#std-backgroundimage {
		height: 40vh
	}

	.logoimg {
		width: 55px
	}

	td {
		padding-inline: 1px;
	}

	.cart-content {
		padding-left: 1px;
		padding-right: 1px;
		font-size: 13px;
	}

	#page-footer-content {}
}
